[submodule "themes/cube"]
	path = themes/cube
	url = git@github.com:spie-ncku/hexo-theme-cube.git
[submodule "themes/clean-blog"]
	path = themes/clean-blog
	url = git@github.com:spie-ncku/hexo-theme-clean-blog.git
